@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  ------------------------------ PALETTE COLOR ------------------------------  */

/************ BACKGROUND ************/
/* colore base */
.bg-color-rolex {
  background-color: #719263; /* div vuoto, serve! */
  min-height: 100vh;
}

/* fake gold */
.bg-color-gold {
  background-color: #FFBA49;
}

/* fake alert */
.bg-color-red {
  background-color: #c1254c;
}

/* purple */
.bg-color-purple {
  background-color: #473144;
}

/* light/sky blu */
.bg-color-sky {
  background-color: #C9DAEA;
}

/************ TEXT ************/
/* colore base */
.txt-color-rolex {
  color: #719263; /* div vuoto, serve! */
}

/* fake gold */
.txt-color-gold {
  color: #FFBA49;
}

/* fake alert */
.txt-color-red {
  color: #c1254c;
}

/* purple */
.txt-color-purple {
  color: #473144;
}

/* light/sky blu */
.txt-color-sky {
  color: #C9DAEA;
}

.navbar-center {
  justify-content: center !important;
  text-align: center !important;
}

/*  ------------------------------ NAV BAR ------------------------------  */
/************ NAV BAR CONTAINER ************/
.navbar-container {
  background-color: #c1254c;
}

/************ NAV BAR LIST ************/
.navbar-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 15px;
}
  .navbar-list li a:hover {
    color: #c1254c;
    background-color: #FFBA49;
    /* new */
    transform: translateY(-2px);
  }

  /************ NAV BAR SINGLE LIST ************/
  .navbar-single-list {
    /* new */
    transition: color 0.2s;
    color: #FFBA49;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px 12px;
  }

  /************ NAV BAR HOME BUTTON ************/
  .navbar-home {
    font-size: 2em;
    transition: color 0.2s;
    color: #FFBA49;
    text-decoration: none;
    padding: 20px 12px;
  }

  /*  ------------------------------ BODY ------------------------------  */
  .body-text {
    text-align: center;
    padding: 5px 40px;
  }

  .body-title {
    text-align: center;
    margin-top: 5px;  
    color: #FFBA49;
    font-size: 6em;
    text-shadow: 
    0px 1px 0 #000, /* Bordo in alto a sinistra */
     1px -1px 0 #1b1b1b, /* Bordo in alto a destra */
    -1px  1px 0 #000, /* Bordo in basso a sinistra */
     2px  2.5px 0 #191919; /* Bordo in basso a destra */
  }

  /*  ------------------------------ FOOTER ------------------------------  */
  .footer-container {
    background-color: #c1254c;
    display: flex;
    list-style: none;
    justify-content: center;
  }


    /*  ------------------------------ FOTO PROFILO ------------------------------  */
  .foto-profilo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }