@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap"); /* LOGO FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap"); /* FONT DA USARE */
* {
  font-family: "Montserrat", "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SFONDO NAVBAR */
.bg-default {
  background-image: url("./assets/perche.jpg");
  height: 100vh;
}
/* SFONDO HOME */
.bg-default-2 {
  background: linear-gradient(135deg, #a50101, #000000);
}
.bg-default-black {
  background-color: #222222;
}

/* ----------------------------------------------------------------------- */
/*  ------------------------------ NAV BAR ------------------------------  */
/************ NAV BAR LIST ************/
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-img {
  width: 40%;
}

/************ NAV BAR SINGLE LIST ************/
.navbar-single-list {
  /* new */
  transition: color 0.2s;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.7em;
  padding: 20px 12px;
}

.navbar-single-list-laterale {
  /* new */
  transition: color 0.2s;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4em;
  padding: 20px 12px;
}

.navbar-li {
  display: flex;
  align-items: center;
}

.navbar-center {
  justify-content: center !important;
  text-align: center !important;
}

/************ NAV BAR HOME BUTTON ************/
.navbar-home {
  font-size: 2.6em;
  transition: color 0.2s;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 12px;
}
/************ CONTAINER ************/
.navbar-container {
  border-bottom: 3px solid black;
}

/*  ------------------------------ BODY ------------------------------  */
.body-text {
  color: #dedadacc;
  font-size: 1.2em;
  z-index: 2;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.body-text-left {
  text-align: left;
  padding: 10px 170px;
  color: #222222;
  font-size: 1.4em;
  font-weight: bold;
}

.body-span-left {
  border-bottom: 4px solid #222222;
  padding-right: 100px;
  font-size: 1.7em;
}

.body-span-right {
  border-bottom: 4px solid #222222;
  padding-left: 100px;
  font-size: 1.7em;
}

.body-text-right {
  text-align: right;
  padding: 10px 170px;
  color: #222222;
  font-size: 1.4em;
  font-weight: bold;
}

.body-title {
  text-align: center;
  color: #d1d1d1;
  font-size: 12em;
  padding-top: 25px;
  z-index: 3;
  text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.545);
}

.body-img {
  border: 20px black;
  border-radius: 20px;
}
/*  ------------------------------ FOTO PROFILO ------------------------------  */
.foto-profilo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* -------------------------- ANIMAZIONI NAV BAR / FOOTER --------------------------  */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-transform: uppercase;
  color: #222222;
}

ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

ul li:hover {
  color: #222222;
}

ul li:hover::before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
  background: #222222; /* the color */
  scale: 1;
  transition: 0.3s, translate 0s 0.3s;
}

ul li::before {
  content: "";
  position: absolute;
  inset: calc(90% - 10px) 0 0 0; /* 3px = the thickness */
  background: #222222; /* the color */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}

ul li:hover::before {
  scale: 1;
  translate: 0;
}

/* -------------------------- MAPS --------------------------  */
/* .map {
        height: 180px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      } */

.leaflet-container {
  height: 600px;
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #ffffffc6;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}

/* -------------------------- FORM CREA --------------------------  */
.form-crea {
  background-color: #222222 !important; /* Sfondo scuro */
  color: #ffffff !important; /* Testo bianco */
  border-radius: 0 !important; /* Rimuove gli angoli arrotondati */
  border: 1px solid #ffffff !important; /* (Opzionale) Bordo bianco sottile */
  padding: 10px !important; /* Aggiunge un po' di spazio interno */
  font-size: 16px !important; /* Dimensione del testo */
}

.form-crea::placeholder {
  color: #ffffff !important; /* Placeholder bianco */
  opacity: 0.8 !important; /* (Opzionale) Riduce la trasparenza del placeholder */
}

.button-crea {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ) !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 2px solid #000000 !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}

.button-crea:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
.form-container {
  padding-bottom: 20px;
  border-top: 0px;
  background-color: #ebebeb2d;
  padding-top: 20px;
}
.form-sfondo {
  background-image: url("./assets/perche.jpg"); /* Sostituisci con il percorso dell'immagine */
  background-size: cover; /* Rende l'immagine di sfondo che copre tutto il div */
  background-position: center; /* Centra l'immagine nel div */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  height: 100vh; /* Imposta l'altezza del div (opzionale) */
}

/* -------------------------- UPGRADE --------------------------  */
.upgrade-text {
  font-size: 1.2em;
  font-weight: 500;
  color: #000000;
}
.upgrade-sfondo {
  background-image: url("./assets/come.jpg"); /* Sostituisci con il percorso dell'immagine */
  background-size: cover; /* Rende l'immagine di sfondo che copre tutto il div */
  background-position: center; /* Centra l'immagine nel div */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  height: 100vh; /* Imposta l'altezza del div (opzionale) */
}
.upgrade-form {
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 0px;
  background-color: #ebebeb2d;
}
.upgrade-label {
  color: #000000;
  font-weight: 600;
}
/* -------------------------- PROFILO --------------------------  */
.button-delete {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ) !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 2px solid #000000 !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}
.button-modifica {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ) !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 2px solid #000000 !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}
.button-logout {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ) !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 2px solid #000000 !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}
.button-organizzatore {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ) !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 2px solid #000000 !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}

.button-delete:hover {
  background-color: rgba(213, 0, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
.button-organizzatore:hover {
  background-color: rgba(46, 174, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
.button-logout:hover {
  background-color: rgba(137, 0, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}.button-modifica:hover {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
.profilo-sfondo {
  background-image: url("./assets/chi.jpg"); /* Sostituisci con il percorso dell'immagine */
  background-size: cover; /* Rende l'immagine di sfondo che copre tutto il div */
  background-position: center; /* Centra l'immagine nel div */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  height: 100vh; /* Imposta l'altezza del div (opzionale) */
}
.profilo-container {
  padding-bottom: 20px !important;
  border-top: 0px !important;
  background-color: #ebebeb35 !important;
  padding-top: 20px !important;
}
.profilo-text {
  font-weight: 800;
  font-size: 1.7em;
}
.profilo-text-sotto {
  font-size: 1.4em;
  font-weight: 500;
}
.profilo-password {
  background-color: #222222 !important; /* Sfondo scuro */
  color: #ffffff !important; /* Testo bianco */
  border-radius: 0 !important; /* Rimuove gli angoli arrotondati */
  border: 1px solid #ffffff !important; /* (Opzionale) Bordo bianco sottile */
  padding: 10px !important; /* Aggiunge un po' di spazio interno */
  font-size: 16px !important; /* Dimensione del testo */
}
.form-profilo {
  background-color: #222222 !important; /* Sfondo scuro */
  color: #ffffff !important; /* Testo bianco */
  border-radius: 0 !important; /* Rimuove gli angoli arrotondati */
  border: 1px solid #ffffff !important; /* (Opzionale) Bordo bianco sottile */
  padding: 10px !important; /* Aggiunge un po' di spazio interno */
  font-size: 16px !important; /* Dimensione del testo */
}
.form-profilo::placeholder {
  color: #ffffff !important; /* Placeholder bianco */
  opacity: 0.8 !important; /* (Opzionale) Riduce la trasparenza del placeholder */
}
/* -------------------------- TROVA --------------------------  */
.card-evento {
  background-color: #fc333372 !important;
  border: 1px solid rgba(0, 0, 0, 0.264) !important;
  width: 300px !important;
}
.card-button {
  background-color: #4136364a !important; /* Bianco opaco (quasi trasparente) */
  color: #000000 !important; /* Testo nero */
  border: 1px solid #0000002a !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
}
.card-button:hover {
  background-color: rgba(137, 0, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
.card-title {
  color: #ffffffe7 !important;
  font-size: 0.8em !important;
  font-weight: 800;
}
.card-text {
  color: #ffffffe7;
  font-size: 0.8em;
}
.card-resp {
  color: #000000;
  font-size: 1em;
}
.bg-trova {
  background-image: url("./assets/event.jpg");
  background-size: cover;        /* Adatta l'immagine per coprire completamente l'elemento */
  background-repeat: no-repeat;
  height: 200vh;
}
.card-int {
  font-weight: 800;
  font-size: 1.1em;
}
.trova-modal {
  background-color: #510000 !important;
  color: #ffffff;
}
.btn-stupiscimi {
  background-color: #1d1d1d !important; /* Bianco opaco (quasi trasparente) */
  color: #b5b5b5 !important; /* Testo nero */
  border: 1px solid #0000002a !important; /* Bordo nero sottile */
  border-radius: 0 !important; /* Angoli squadrati */
  padding: 10px 20px !important; /* Spaziatura interna */
  font-size: 16px !important; /* Dimensione del testo */
  cursor: pointer !important; /* Cambia il cursore quando si passa sopra il bottone */
  transition: background-color 0.3s ease, color 0.3s ease !important; /* Animazione per hover */
  width: 300px;
  margin-bottom: 30px;
}
.btn-stupiscimi:hover {
  background-color: rgba(137, 0, 0, 0.8) !important; /* Sfondo nero opaco al passaggio del mouse */
  color: #ffffff !important; /* Testo bianco */
}
/* -------------------------- LOGIN --------------------------  */
.login-container {
  background-color: #8a0101a7 !important;
}
.login-text {
  color: #000000 !important;
  font-weight: 700 !important;
}
.login-link {
  color: #000000 !important;
  font-weight: 500 !important;
}
