@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap'); /* LOGO FONT */

*{
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ----------------------------------------------------------------------- */
/*  ------------------------------ NAV BAR ------------------------------  */
/************ NAV BAR LIST ************/
.navbar-list {
  list-style: none;
  padding-top: 15px;
}

  /************ NAV BAR SINGLE LIST ************/
  .navbar-single-list {
    /* new */
    transition: color 0.2s;
    color: #d8d8d8;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px 12px;
  }

  .navbar-center {
  justify-content: center !important;
  text-align: center !important;
}

  /************ NAV BAR HOME BUTTON ************/
  .navbar-home {
    font-size: 1.5em;
    transition: color 0.2s;
    color: #d8d8d8;
    text-decoration: none;
    padding: 20px 12px;
  }

  /*  ------------------------------ BODY ------------------------------  */
  .body-text {
    text-align: center;
    padding: 10px 170px;
    color: #ffffff;
    font-size: 1.2em;
  }

  .body-text-left {
    text-align: left;
    padding: 10px 170px;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
  }

  .body-text-right {
    text-align: right;
    padding: 10px 170px;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
  }

  .body-title {
    text-align: center;
    font-family: 'Sacramento', 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12em;
    padding-top: 25px;
  }

    /*  ------------------------------ SEPARATORE ------------------------------  */

    .separatore {
      border-top: 5px solid #ffffff;
      border-radius: 5px;
      width: 15%;
      height: auto;
      margin: 0 auto;
      margin-top: 3%;
      width: 10%;
    }

  /*  ------------------------------ FOOTER ------------------------------  */
  .footer-container {
    display: flex;
    list-style: none;
    justify-content: center;
    color: #d8d8d8;
  }

    /*  ------------------------------ FOTO PROFILO ------------------------------  */
  .foto-profilo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

/* -------------------------- ANIMAZIONI NAV BAR / FOOTER --------------------------  */
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        text-transform: uppercase;
        color: grey;
      }
      
      ul li {
        padding: 0 .5em .25em;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: .3s;
      }
      
      ul li:hover {
        color: #ffffffc7;
      }
      
      ul li:hover::before {
        content: "";
        position: absolute;
        inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
        background: #ffffffc7; /* the color */
        scale: 1;
        transition: .3s, translate 0s .3s;
      }
      
      ul li::before {
        content: "";
        position: absolute;
        inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
        background: #ffffffc7; /* the color */
        scale: 0 1;
        transition: .3s, translate 0s .3s;
      }
      
      ul li:hover::before {
        scale: 1;
        translate: 0;
      }
      